<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_with(model: @comment, local: true) do |form| %>
    
    <div class="fields">
        <% if !@comment.planet %>
            <%= form.label :planet %>
            <br>
            <%= form.collection_select :planet_id, Planet.all, :id, :name %>
            <br>
            <br>
        <% else %>
            <%= form.hidden_field :planet_id %>
        <% end %>
    </div>

    <div class="fields">
        <%= form.label :content %>
        <br>
        <%= form.text_area :content %>
        <br>
        <br>
    </div>

    <div class="actions">
        <%= form.submit 'Submit' %>
    </div>
<% end %>
<br>