<% if @planet %>
    <h1 align="center">Comments for <%= @planet.name %></h1>
<% else %>
    <h1 align="center">All Comments</h1>
<% end %>

<% if @planet %>
    <% @comments.in_groups_of(3) do |group| %>
        <div class="row">
        <% group.compact.each do |comment| %>
            <strong><%= comment.user.username%></strong> says "<%= comment.content%>" about this planet: <strong><%= link_to comment.planet.name, planet_path(comment.planet_id) %></strong>
            <br>
            <%= link_to 'Edit', edit_planet_comment_path(@planet,comment) %> |
            <%= link_to 'Back', planet_comments_path %>
            <br><br>
        <% end %>
        </div>
    <% end %>
<% end %>