<h2 align="center"><%= @comment.content %> - <%= @comment.user.username %></h2>
<br>
<% if @comment.user == current_user %>
    <%= link_to "Edit Comment", edit_comment_path(@comment) %> |
    <%= link_to "Delete Comment", comment_path(@comment) %>
<% end %>

<h4>Read the post here: <%= link_to @comment.planet.name, planet_path(@comment.planet_id) %></h4>