<h3 align="center"><%= @comment.content %> - <%= @comment.user.username %></h3>
<br>
<p align="center">
    <% if @comment.user == current_user %>
        <%= link_to "Edit Comment", edit_comment_path(@comment) %> |
        <%= link_to "Delete Comment", comment_path(@comment) %>
    <% end %>
</p>
<h4 align="center">Read the post here: <%= link_to @comment.planet.name, planet_path(@comment.planet_id) %></h4>