<%= form_with(model: @planet_moons, url: '/moons') do |form| %>
    <% if @planet_moon.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@planet_moon.errors.count, "error") %> prohibited this moon from being saved:</h2>

            <ul>
                <% @planet_moon.erorrs.full_messages.each do |messages| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="fields">
        <%= form.label :name %>
        <br>
        <%= form.text_field :name %>
        <br>
        <br>
    </div>

    <div class="fields">
        <%= form.label :planet_moon_orbits %>
        <br>
        <%= form.text_field :planet_moon_orbits %>
        <br>
        <br>
    </div>

    <div class="fields">
        <%= form.label :description %>
        <br>
        <%= form.text_area :description %>
        <br>
        <br>
    </div>

    <div class="fields">
        <%= form.label :length_of_year %>
        <br>
        <%= form.text_field :length_of_year %> (In Days.)
        <br>
        <br>
    </div>
    
    <%= form.label :image %>
    <%= form.file_field :image %>
    <br>
    <br>

    <div class="actions">
        <%= form.submit 'Submit' %>
    </div>
<% end %>
<br>
<br>