<h1 align="center">Moons</h1>

<% @planet_moons.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |planet_moon| %>
      <div class="col-md-4">
        <%= image_tag planet_moon.image_url(:thumb) if planet_moon.image.present? %>
        <h4><%= link_to planet_moon.name, planet_moon %></h4>
        <p>Planet this Moon Orbits: <%= planet_moon.planet_moon_orbits %></p>
        <p>Description: <%= planet_moon.description %></p>
        <p>Length of Year: <%= planet_moon.length_of_year %></p>
        <%= link_to 'Show', planet_moon_path(planet_moon) %><br>
        <%= link_to 'Edit', edit_planet_moon_path(planet_moon) %><br>
        <%= link_to 'Delete', planet_moon_path(planet_moon), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
<% end %>

<p align="center"><%= link_to "Add a Moon", new_moon_path %></p>