<h1 align="center">Planets</h1>

<% @planets.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |planet| %>
      <div class="col-md-4">
        <%= image_tag planet.image_url(:thumb) if planet.image.present? %>
        <h4><%= link_to planet.name, planet %></h4>
        <p>Type of Planet: <%= planet.type_of_planet %></p>
        <p>Description: <%= planet.description %></p>
        <p>Length of Year: <%= planet.length_of_year %></p>
        <p>Distance from the Sun: <%= planet.distance_from_sun %></p>
        <p>Moons: <%= planet.moons %></p>
        <%= link_to 'Show', planet_path(planet) %><br>
        <%= link_to 'Edit', edit_planet_path(planet) %><br>
        <%= link_to 'Delete', planet_path(planet), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
<% end %>

<p align="center"><%= link_to "Add a Planet", new_planet_path %></p>