<h1 align="center"><b>Planets</b></h1>

<h3>Search by Planet Name:</h3>
<%= form_tag(planets_path, :method => "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Planets" %>
  <%= submit_tag "Search" %>
<% end %>

<h4 align="center"><%= link_to "Add a Planet", new_planet_path %></h4>
<% @planets.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |planet| %>
      <div class="col-md-4">
        <%= image_tag planet.image_url(:thumb) if planet.image.present? %>
        <h4><%= link_to planet.name, planet %></h4>
        <p><b>Type of Planet: </b><%= planet.type_of_planet %></p>
        <p><b>Description: </b><%= planet.description %></p>
        <p><b>Length of Year: </b><%= planet.length_of_year %></p>
        <p><b>Distance from the Sun: </b><%= planet.distance_from_sun %></p>
        <p><b>Moons: </b><%= planet.moons %></p>
        <%= link_to 'Show', planet_path(planet) %><br>
        <%= link_to 'Edit', edit_planet_path(planet) %><br>
        <%= link_to 'Delete', planet_path(planet), method: :delete, data: { confirm: 'Are you sure?' } %>
        <br><br>
      </div>
    <% end %>
  </div>
<% end %>