<h1 align="center"><b><%= @planet.name %></b></h1><br>
<div class="row">
  <div class="col-md-9">
    <%= image_tag(@planet.image_url, width: '100%') if @planet.image.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @planet.name %></p>
    <p><b>Type of Planet: </b><%= @planet.type_of_planet %></p>
    <p><b>Description: </b><%= @planet.description %></p>
    <p><b>Length of Year: </b><%= @planet.length_of_year %></p>
    <p><b>Distance from the Sun: </b><%= @planet.distance_from_sun %></p>
    <p><b>Moons: </b><%= @planet.moons %></p>
    <p>
      <%= link_to 'Add a new comment', new_planet_comment_path(@planet) %>
      <br>
      <%= link_to 'Edit', edit_planet_path(@planet) %> |
      <%= link_to 'Back', planets_path %>
    </p>
  </div>
</div>
<br>

<% if !@planet.comments.empty? %>
  <p><%= link_to 'See all comments', planet_comments_path(@planet)%></p>
  <h3>Most Recent Comments:</h3>
  <% @planet.comments.order(updated_at: :desc).limit(10).each do |comment| %>
    <strong><%= comment.user.username%></strong> says "<%= link_to comment.content, planet_comment_path(@planet,comment)%>" <br>at <%= comment.updated_at.strftime("%I:%M %p on %m/%d/%Y") %>
    <br>
    <%= link_to 'Edit', edit_planet_comment_path(@planet,comment) %> |
    <%= link_to 'Back', planets_path %> |
    <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br><br>
  <% end %>
<% end %>
<br>
<br>
