<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Type of Planet:</strong>
  <%= @planet.type_of_planet %>
</p>

<p>
  <strong>Description:</strong>
  <%= @planet.description %>
</p>

<p>
  <strong>Length of Year:</strong>
  <%= @planet.length_of_year %>
</p>

<p>
  <strong>Distance From the Sun:</strong>
  <%= @planet.distance_from_sun %>
</p>

<p>
  <strong>Moons:</strong>
  <%= @planet.moons %>
</p>

<%= image_tag(@planet.image_url, :width => 600) if @planet.image.present? %>
<br>
<br>
<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>