<div class="row">
  <div class="col-md-9">
    <%= image_tag(@planet.image_url, width: '100%') if @planet.image.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @planet.name %></p>
    <p><b>Type of Planet: </b><%= @planet.type_of_planet %></p>
    <p><b>Description: </b><%= @planet.description %></p>
    <p><b>Length of Year: </b><%= @planet.length_of_year %></p>
    <p><b>Distance from the Sun: </b><%= @planet.distance_from_sun %></p>
    <p><b>Moons: </b><%= @planet.moons %></p>
    <p>
      <%= link_to 'Edit', edit_planet_path(@planet) %> |
      <%= link_to 'Back', planets_path %>
    </p>
  </div>
</div>