<%= render partial: "layouts/errors", locals: {object: @moon} %>

<%= form_with(model: @moon, local: true) do |form| %>
    
    <div class="fields">
        <%= form.label :name %>
        <br>
        <%= form.text_field :name %>
        <br>
        <br>
    </div>

    <div class="fields">
        <%= form.label :planet_moon_orbits %>
        <br>
        <%= form.text_field :planet_moon_orbits %>
        <br>
        <br>
    </div>

    <div class="fields">
        <%= form.label :description %>
        <br>
        <%= form.text_area :description %>
        <br>
        <br>
    </div>

    <div class="fields">
        <%= form.label :length_of_year %>
        <br>
        <%= form.text_field :length_of_year %>
        <br>
        <br>
    </div>

    <%= form.label :image %>
    <%= form.file_field :image %>
    <br>
    <br>

    <div class="actions">
        <%= form.submit 'Submit' %>
    </div>
<% end %>
<br>
<br>